/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

@import './lib/fonts.css' layer(base);
@import '@oxide/design-system/styles/main.css';
@import '@oxide/design-system/styles/yellow.css';
@import '@oxide/design-system/styles/purple.css';
@import '@oxide/design-system/styles/green.css';
@import '@oxide/design-system/styles/blue.css';
@import '@oxide/design-system/styles/tailwind.css';
@import '@oxide/design-system/components/asciidoc.css';

@import '@oxide/design-system/components/asciidoc.css';
@import '@oxide/design-system/components/button.css';
@import '@oxide/design-system/components/spinner.css';

@import './lib/asciidoc.css';
@import './lib/highlight.css';
@import './lib/github-markdown.css';
@import './lib/loading-bar.css';

@import 'tailwindcss';
@source '../../node_modules/@oxide/design-system/dist/components';

@layer utilities {
  :root {
    --toc-width: 240px;
    --header-height: 60px;
    --container-px: 1.25rem; /* px-5 */

    @media (min-width: 600px) {
      --container-px: 2.5rem; /* px-10 */
    }

    @media only screen and (max-width: 1200px) {
      --toc-width: 200px;
    }
  }
}

.light-mode {
  filter: invert(1) hue-rotate(180deg);
}

.light-mode img,
.light-mode picture,
.light-mode video {
  filter: invert(1) hue-rotate(180deg);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-feature-settings:
    'ss02' on,
    'ss03' on,
    'ss09' on,
    'ss06' on,
    'ss07' on,
    'ss08' on,
    'case' on;
  -webkit-text-stroke: 0;
  font-size: 16px;

  @apply bg-default;
}

@layer base {
  body {
    /* leading override is gross, fix later */
    @apply text-sans-sm text-raise leading-[1.33]!;
  }
}

.overlay-shadow {
  box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.5);
}

.backdrop {
  background-color: var(--surface-scrim);
  transition-property: opacity, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 50ms;
  opacity: 1;
  backdrop-filter: blur(4px);
}

/**
 * Remove focus ring for non-explicit scenarios.
 */
a:focus-visible,
button:focus-visible,
[role='listbox']:focus-visible,
[role='option']:focus-visible,
[role='button']:focus-visible,
input[type='radio']:focus-visible,
input[type='checkbox']:focus-visible {
  @apply ring-accent-tertiary ring-2 outline-0;
}

a:focus,
button:focus,
[role='listbox']:focus,
[role='option']:focus,
[role='button']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 2px solid black;
  outline-offset: -2px;
  box-shadow: none;
  @apply ring-accent-tertiary ring-2 outline-0;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
[role='listbox']:focus:not(:focus-visible),
[role='option']:focus:not(:focus-visible),
[role='button']:focus:not(:focus-visible),
input[type='radio']:focus:not(:focus-visible),
input[type='checkbox']:focus:not(:focus-visible) {
  @apply ring-0 outline-0;
}

.link-with-underline {
  @apply text-default hover:text-raise;
  text-decoration: underline;
  text-decoration-color: var(--content-quinary);

  &:hover {
    text-decoration-color: var(--content-tertiary);
  }
}

table.inline-table {
  @apply border-separate border-spacing-0;
  thead {
    @apply bg-tertiary;

    tr th {
      @apply text-mono-sm border-default h-8 border-y pr-4 text-left;
    }

    tr th:first-child {
      @apply rounded-tl rounded-bl border-l;
    }

    tr th:last-child {
      @apply rounded-tr rounded-br border-r;
    }
  }
  tbody {
    td {
      @apply border-b-default h-10 border-b align-middle;
    }
  }
}

.dialog {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  transform: translate3d(50%, 0px, 0px);
}

.dialog[data-enter] {
  opacity: 1;
  transition-duration: 100ms;
  transform: translate3d(0%, 0px, 0px);
}

.dialog[data-leave] {
  transition-duration: 50ms;
}

.spinner {
  --radius: 4;
  --PI: 3.14159265358979;
  --circumference: calc(var(--PI) * var(--radius) * 2px);
  animation: rotate 5s linear infinite;
}

.spinner .path {
  stroke-dasharray: var(--circumference);
  transform-origin: center;
  animation: dash 4s ease-in-out infinite;
  stroke: var(--content-accent);
}

@media (prefers-reduced-motion) {
  .spinner {
    animation: rotate 6s linear infinite;
  }

  .spinner .path {
    animation: none;
    stroke-dasharray: 20;
    stroke-dashoffset: 100;
  }

  .spinner-lg .path {
    stroke-dasharray: 50;
  }
}

.spinner .bg {
  stroke: var(--content-default);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: var(--circumference);
  }
  to {
    stroke-dashoffset: calc(var(--circumference) * -1);
  }
}
