{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "ignorePatterns": ["**/*.js", "**/**/*.js"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "eqeqeq": "error",
    "no-param-reassign": "error",
    "no-return-assign": "error",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
