node_modules
.terraform

.cache
.env
.vercel
.output
.eslintcache

/build/
/public/build/
/api/index.js
/api/index.js.map
/api/_assets
tsconfig.tsbuildinfo
test-results/

.DS_Store

/app/components/icons
