{
  "printWidth": 92,
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^~/(.*)$", "", "^[./]"],
  "importOrderTypeScriptVersion": "5.2.2"
}
