/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

.dialog {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  transform: translate3d(50%, 0px, 0px);
}

.dialog[data-enter] {
  opacity: 1;
  transition-duration: 100ms;
  transform: translate3d(0%, 0px, 0px);
}

.dialog[data-leave] {
  transition-duration: 50ms;
}
